<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Instagram Registro</title>

</head>
<body>
    <main>
        <div class="banner">
            <img src="img/banner-login.png" alt="Smatphone com demonstração do instagram">
            <p><b>Cadastre-se para ver fotos dos seus amigos</b></p>
        </div>
        <div class="registro">
            <img src="img/logo.png" alt="Instagram" class="logo-registro">
            <form>
                <input type="nome" name="email" id="nome" placeholder="Digite seu nome">
                <input type="email" name="email" id="email" placeholder=" Digite seu email">
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha">
                <input type="password" name="senha" id="senha" placeholder="Confirme sua senha">
                <button type="submit">Cadastre-se</button>
                <p>Ao se cadastrar, você concorda com os nosso <strong>Termos, Políticas de Dados e Políticas de Cookies.</strong> </p>
            </form>
            <div class="cta-login">
                <p>Tem uma conta? <a href="login.html">Conecte-se</a> </p>
            </div>

        </div>
    </main>
    
</body>
</html>